---
common-css:
  - "/css/main.css"
common-ext-css:
  - href: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    sri: "sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
  - "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
common-googlefonts:
  - "Inter:wght@300;400;500;600;700;800"
  - "Lora:ital,wght@0,400;0,600;0,700;1,400"
common-js:
  - "/js/main.js"
common-ext-js:
  - href: "https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    sri: "sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  {% include head.html %}

  <body>

    {% include gtm_body.html %}
  
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
  
    {% include footer-scripts.html %}
  
  </body>
</html>
